/* General */

@font-face {
    font-family: "WesternBangBang";
    src: url(./fonts/WesternBangBang-Regular.ttf),
         url(./fonts/WesternBangBang-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    font-family: 'WesternBangBang', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}


/* Start Screen - First Section */

.start-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'WesternBangBang', sans-serif;
}

.start-screen-content {
    padding: 4%;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vi;
}

h1 {
    font-size: 7vi;
    text-wrap: nowrap;
    text-align: center;
    padding: 4%;
    border-radius: 20px;
    color: rgb(44, 23, 10);
    background-color: rgba(205, 189, 171, 0.65);
}

#play {
    font-size: 3vi;
    text-wrap: nowrap;
    text-align: center;
    padding: 2%;
    border-radius: 20px;
    color: rgba(243, 235, 225, 0.845);
    background-color: rgb(61, 26, 5);
}

/* Game Screen - Second Section */

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(./img/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.choose-weapons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 4vi;
    text-wrap: nowrap;
    text-align: center;
    padding: 4%;
    margin: 4%;
    border-radius: 20px;
    color: rgb(44, 23, 10);
    background-color: rgba(205, 189, 171, 0.65);
}

.weapons {
    display: flex;
    gap: 5%;
    margin-left: 5%;
    margin-right: 5%;

}

.scissors,
.paper,
.rock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 2%;
    border: none;
    border-radius: 20px;
    background: rgba(205, 189, 171, 0.65);
}

button {
    color: rgb(44, 23, 10);
}

button:hover {
    background-color: rgba(255, 255, 255, 0.59)
}

button:active {
  background-color: rgba(255, 255, 255, 0.59);
  box-shadow: 5px 5px rgba(205, 189, 171, 0.65);
  transform: translateY(4px);
}

.weapon-name { 
    font-size: 3vmin;
}

.scores {
    display: flex;
}

/* Game Over Screen - Third Section */