/* General */

@font-face {
    font-family: "WesternBangBang";
    src: url(./fonts/WesternBangBang-Regular.ttf),
         url(./fonts/WesternBangBang-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    font-family: 'WesternBangBang', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}


/* Start Screen - First Section */

.start-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'WesternBangBang', sans-serif;
}

.start-screen-content {
    padding: 4%;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vi;
}

h1,
.endgameMsg {
    font-size: 7vi;
    text-wrap: nowrap;
    text-align: center;
    padding: 4%;
    border-radius: 20px;
    color: rgb(44, 23, 10);
    background-color: rgba(205, 189, 171, 0.65);
}

#play,
.btn-restart {
    font-size: 3vi;
    text-wrap: nowrap;
    text-align: center;
    padding: 2%;
    border-radius: 20px;
    color: rgba(243, 235, 225, 0.845);
    background-color: rgb(61, 26, 5);
}

/* Game Screen - Second Section */

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(./img/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.choose-weapons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 4vi;
    text-wrap: nowrap;
    text-align: center;
    padding: 3%;
    margin: 2%;
    margin-bottom: 5%;
    border-radius: 20px;
    color: rgb(44, 23, 10);
    background-color: rgba(205, 189, 171, 0.65);
}

h3 {
    font-size: 2vi;
    text-wrap: nowrap;
    text-align: center;
    padding: 2%;
    margin-bottom: 2%;
    border-radius: 20px;
    color: rgb(44, 23, 10);
    background-color: rgba(185, 157, 101, 0.794);
}

.weapons {
    display: flex;
    gap: 5%;
    margin-left: 5%;
    margin-right: 5%;

}

.scissors,
.paper,
.rock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 2%;
    border: none;
    border-radius: 20px;
    background: rgba(205, 189, 171, 0.65);
}

button {
    color: rgb(44, 23, 10);
}

button:hover {
    background-color: rgba(185, 157, 101, 0.794);
}

button:active {
  background-color: rgba(255, 255, 255, 0.59);
  box-shadow: 5px 5px rgba(205, 189, 171, 0.65);
  transform: translateY(4px);
}

.weapon-name { 
    font-size: 3vmin;
}

.scores {
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

.player-score,
.computer-score {
    font-size: 1.5vi;
    text-wrap: nowrap;
    text-align: center;
    padding: 3%;
    border-radius: 20px;
    color: rgba(243, 235, 225, 0.845);
    background-color: rgb(61, 26, 5);
}

/* Game Over Screen - Third Section */

:root {
    --secondary-dark-active: #5b5f68;
  }
  
.modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 80vw;
    background-color: var(--primary-dark);
    text-align: center;
    user-select: none;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .btn-restart {
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #overlay1 {
    background-image: url(./img/player-win.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }

  #overlay2 {
    background-image: url(./img/computer-win.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  
  .overlay.active {
    display: block;
  }

